<div class="button-dialog button-dialog w-100 text-center">
  <div class="card w-25 mx-auto p-4 shadow">
      <a href="https://azapp-tektrak-mobileappservices-poc.azurewebsites.net/.auth/login/google?response_type=token&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fpostlogin.html&realm=na&client_id=na&state=authClient&session_mode=token&post_login_redirect_url=http%3A%2F%2Flocalhost%3A4200%2Fpostlogin.html">
    <button class="btn--watch btn btn-dark text-left mb-2" type="button" >  
      Sign in with Google
    </button></a>
  </div>    
</div>