.header__logo {
    height: 2.4rem;
}

header {
    background-image: url('./../../../assets/images/banner-bg.jpg');
    background-position-y: center;

    .header__navbar {
        background-color: rgba(19, 41, 39, 0.8)
    } 

    .nav-item {
        color: white;
    }
}

.card {
    h2 {
        font-size: large;
    }
}

// stats
.stat-container__value {
    font-size: xx-large;
}

.stat-container__measurement-units {
    font-size: smaller;
}

// badges
.badge-container {
    max-width: 8rem;

    .badge-container__img {
        border-radius: 50%;
        padding: 0.8rem;

        &--won {            
            background-color: #eaeaea;
        }

        &--network {
            background-color: #d8d8d8;
        }

        &--photo {
            background-color: #eaeaea;
            border-radius: 0%;
        }
    }

    &--network {
        max-width: 9rem;
    }

    &--photo {
        max-width: none;
    }
}


// sessions
.btn--watch {
    background-color: #2c2c2c;
}
.session-card {
    background-color: #f5f5f5;
    border: none;

    h3 {
        color: red;
    }
}