.header__logo {
    height: 2.4rem;
}

header {
    background-image: url('./../../../assets/images/banner-bg.jpg');
    background-position-y: center;

    .header__navbar {
        background-color: rgba(19, 41, 39, 0.8)
    } 

    .nav-item {
        color: white;
    }
}

.card {
    h2 {
        font-size: large;
    }
}

// stats
.stat-container__value {
    font-size: xx-large;
}

.stat-container__measurement-units {
    font-size: smaller;
}

// badges
.badge-container {
    max-width: 8rem;

    .badge-container__img--won {
        padding: 0.8rem;
        background-color: #eaeaea;
        border-radius: 50%;
    }
}

// sessions
.btn--watch {
    background-color: #2c2c2c;
}